doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    //script(src='/javascripts/phaser.min.js')


    script(src='/javascripts/phaser.js')


    script(src='/javascripts/ui.js')
    script(src='/javascripts/math.js')

    script(src='/javascripts/machine_learning.min.js')
    script(src='/javascripts/brain.js')
    script(src='/javascripts/crossovers.js')
    script(src='/javascripts/mutations.js')
    script(src='/javascripts/individual.js')

  body
    block content