doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    //script(src='/javascripts/phaser.min.js')

    script(src='/javascripts/machine_learning.min.js')
    script(src='/javascripts/phaser.js')
  body
    block content